@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./defaults.scss";

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 6rem;

  @media (max-width: 400px) {
    padding: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  width: 100%;
  margin-left: auto;
  margin-block: 5rem auto;

  @media screen and (max-width: 390px) {
    margin-block: auto;
  }
}

.MuiPaper-root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40rem;
  height: 20rem;
  margin-inline: auto;

  @media screen and (max-width: 390px) {
    width: 20rem;
    height: 15rem;
  }

  .MuiTypography-body1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

.MuiCardContent-root {
  display: flex;
  justify-content: center;
  height: 100%;
}

.MuiCardActions-root {
  justify-content: right;
}

.MuiTypography-h5 {
  text-wrap: balance;
  margin-inline: auto;
  margin-block: auto;
}

.MuiButtonBase-root {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.Footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 1rem 1rem;
}

.made {
  display: flex;
}
